* {
    margin: 0;
    padding: 0;

}

.gridpadre {
    display: grid;
    background-image: url(../imagenes/bg.jpg);
    height: 1000px;
    grid-row-gap: 20px;
    grid-template-columns: 1.3fr 1.3fr 1.3fr 1.3fr;
    grid-template-rows: 0.03fr 0.3fr 1fr 0.03fr;
    grid-template-areas: 
    "nav nav nav nav"
    "pro1 pro2 pro3 pro4"
    "pro5 pro5 pro6 pro6"
    "footer footer footer footer"
    ;
}

nav {
    background-color: rgb(0, 0, 0);
    grid-area: nav;
}

.proyecto-1 {
    background-color: rgb(0, 0, 0);
    grid-area: pro1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyecto-2 {
    background-color: rgb(0, 0, 0);
    grid-area: pro2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyecto-3 {
    grid-area: pro3;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.proyecto-4 {
    grid-area: pro4;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyecto-5 {
    grid-area: pro5;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyecto-6 {
    grid-area: pro6;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyecto-1 img {
height: 180px;
width: 200px;
border: 1px solid;
border-radius: 10px;

}

.proyecto-2 img {
    height: 180px;
    width: 200px;
    border: 1px solid;
border-radius: 10px;
    
}

.proyecto-3 img {
    height: 180px;
    width: 200px;
    border: 1px solid;
border-radius: 10px;
    
}
.proyecto-4 img {
    height: 180px;
    width: 200px;
    border: 1px solid;
border-radius: 10px;
    
}

.proyecto-5 img {
    height: 580px;
    width: 550px;
    border: 1px solid;
border-radius: 10px;
    
}

.proyecto-6 img {
    height: 580px;
    width: 550px;
    border: 1px solid;
border-radius: 10px;
    
}






footer {
    background-color: rgb(0, 0, 0);
    grid-area: footer;
}


.navbar ul {
    display: flex;
    justify-content: space-evenly;
    margin: 6px;
    list-style: none;
    
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 7px;
}

.navbar ul li a:hover {
    animation: boton 0.4s forwards;
}

@keyframes boton {
    100% {
        background-color: white;
        color: black;
        padding: 20px;
    }
}
.imagenescontacto-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    color: white;
}
.imagenescontacto-1 img {
    height: 260px;
    width: 240px;
    border: 24px solid white;
    border-radius: 20px;

}

.imagenescontacto-2 img {
    height: 260px;
    width: 240px;
    border: 24px solid white;
    border-radius: 20px;

}
.imagenescontacto-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    color: white;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: white;
}

.formulario textarea {
    resize: none;
}









footer {
    display: flex;
    justify-content: center;
    color: white;
}






@media only screen and (max-width: 750px) {

    .gridpadre {
        display: grid;
        background-image: url(../imagenes/bg.jpg);
        height: 1000px;
        grid-row-gap: 20px;
        grid-template-columns: 1.3fr 1.3fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "nav nav nav nav"
        "pro1 pro2 pro3 pro4"
        "pro5 pro5 pro6 pro6"
        "footer footer footer footer"
        ;
    } 

}

    